.textarea {
  width: 70%;
  height: 120px;
  direction: rtl;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid green;
}
.footer {
  margin-top: 20px; /* Adjust this value as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 2px 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px; /* Adjust this value as needed */
}

.logo {
  width: 30px; /* Adjust this value as needed */
  height: auto;
}
.footer p {
  margin-right: 20px; /* Adjust this value as needed */
}
